<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        
        <div class="nav mb-8">
            <a class="text-blue-400" href="/read">← Back to Users</a>
        </div>
        <h1 class="text-3xl mb-4">Update User</h1>
        
        <!-- Ensure the action matches the backend route (here it should be /edit/:id) -->
        <form action="/edit/<%= user._id %>" method="post">
           
            <input value="<%= user.name %>" class="px-5 border-2 border-gray-700 py-2 outline-none rounded-lg bg-transparent " type="text" name="name" placeholder="Name">
            <input value="<%= user.email %>" class="px-5 border-2 border-gray-700 py-2 outline-none rounded-lg bg-transparent " type="text" name="email" placeholder="Email">
            <input value="<%= user.image %>" class="px-5 border-2 border-gray-700 py-2 outline-none rounded-lg bg-transparent " type="text" name="image" placeholder="Image URL">
            
            <input class="px-5 py-2 bg-yellow-500  rounded-lg ml-4 cursor-pointer" type="submit" value="Update User">
        </form>
    </div>
</body>
</html>
