<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="text-white main w-full px-10 py-9 min-h-screen bg-zinc-900 flex items-center justify-center">
    <div class="w-full max-w-lg">
        <a class="text-blue-500 hover:underline inline-block mb-8 text-lg font-semibold" href="/">← Go Back</a>
        <div class="bg-zinc-800 p-8 rounded-lg shadow-lg">
            <h1 class="text-3xl font-semibold mb-6">Edit Task</h1>
            <form action="/edit" method="post">
                <label for="previous" class="block text-sm font-medium text-gray-400 mb-2">Previous Task Name</label>
                <input id="previous" class="block w-full px-4 py-3 bg-zinc-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500" type="text" name="previous" value="<%= filename %>" placeholder="Previous name">
                
                <label for="new" class="block text-sm font-medium text-gray-400 mt-6 mb-2">New Task Name</label>
                <input id="new" class="block w-full px-4 py-3 bg-zinc-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500" type="text" name="new" placeholder="New name">
                
                <input class="mt-6 w-full rounded-lg cursor-pointer px-4 py-3 bg-yellow-600 text-white font-bold hover:bg-yellow-500 transition-colors duration-200" type="submit" value="Update Task">
            </form>
        </div>
    </div>
   </div>
</body>
</html>
